@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
// color
$color-primary: #F3A20E;
$color-primary-hover: #F6B94A;
$color-primary-active: #F9D187;

$color-font-btn: #33220C;
$color-font-dark: #0B0E2E;
$color-font-light: #F9FAFF;

// mixins

// extendet
%list-reset {
    padding: 0;
    margin: 0;
    list-style: none;
}

%btn-reset {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

%title-underline {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 80px;
			height: 2px;
			background-color: $color-font-dark;
}

%list-roofing {
	font-size: 18px;
		& li:not(:last-child) {
			margin-bottom: 12px;
		}
		& li {
			position: relative;
			padding-left: 30px;
		}
		& li::before {
			content: '—';
			position: absolute;
			left: 0;
		}
	}

.title-big {
	font-size: 40px;
	font-weight: 400;
	line-height: 130%;
	position: relative;
	margin: 0;
	margin-bottom: 40px;
	padding-bottom: 10px;
	&::before {
		@extend %title-underline;
	}

	@media (max-width: 1023px) {
		font-size: 32px;
		margin-bottom: 30px;
		padding-bottom: 8px;
	}

	@media (max-width: 390px) {
		font-size: 26px;
	}
}

.title-medium {
	font-size: 24px;
	font-weight: 400;
	line-height: 130%;
	margin: 0;
	margin-bottom: 20px;

	@media (max-width: 1023px) {
		font-size: 20px;
	}
}

.btn {
	@extend %btn-reset;
	font-size: 20px;
	padding: 16px 46px;
	text-align: center;
	background-color: $color-primary;

	transition: background-color .2s ease;

	&:hover {
		background-color: $color-primary-hover;
	}

	&:active {
		background-color: $color-primary-active;
	}

	@media (max-width: 950px) {
		font-size: 18px;
	}

	@media (max-width: 450px) {
		padding: 16px 24px;
		font-size: 16px;
	}
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
		height: auto;
}

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    color: $color-font-dark;
		font-size: 18px;
		font-weight: 400;
		@media (max-width: 1023px) {
			font-size: 16px;
		}
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.detail-bg {
	background-image: url(../img/detail-1.jpg), url(../img/detail-2.jpg);
	background-position: left 792px, right 1250px;
  background-repeat: no-repeat, no-repeat;
}

.bg-detail-2 {
	background-image: url(../img/detail-4.jpg), url(../img/detail-3.jpg);
	background-position: left 792px, right 2600px;
  background-repeat: no-repeat, no-repeat;
}

main {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  padding: 0 12px;
  max-width: 1300px;
}

.header {
	background: linear-gradient(180deg, #050F65 0%, 
	rgba(5, 15, 101, 0) 99.99%, 
	rgba(5, 15, 101, 0) 100%);
	color: #fff;
	padding: 12px 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
}

.nav__link {
	transition: color .2s ease;
}

.nav__link:hover {
	color: $color-primary;
}

.logo {
	flex-shrink: 0;
	max-width: 200px;
	transition: transform .2s ease;

	&:hover {
		transform: translateY(-4px);
	}

	@media (max-width: 900px) {
		width: 200px;
	}
}

.hero {
	background-image: url(../img/hero-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;

	&__container {
		min-height: calc(100vh);
		display: flex;
    justify-content: flex-start;
    align-items: center;
		padding-top: 120px;
		padding-bottom: 20px;
	}
  &__content {
		margin-bottom: 80px;
		& h1 {
			font-weight: 500;
			font-size: 60px;
			color: $color-primary;
			margin-top: 0;
			margin-bottom: 20px;
			padding-bottom: 12px;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100px;
				height: 4px;
				background-color: $color-primary;
			}

			@media (max-width: 900px) {
				font-size: 42px;
			}
		}

		& ul {
			@extend %list-reset;
			font-size: 24px;
			max-width: 415px;

			@media (max-width: 900px) {
				font-size: 20px;
			}
		}

		& ul li:not(:last-child) {
			margin-bottom: 10px;
		}

		& ul li {
			position: relative;
			padding-left: 30px;
		}

		& ul li::before {
			content: '—';
			position: absolute;
			left: 0;
		}
	}
}

.regalia {
	max-width: 425px;
  &__list {
		@extend %list-reset;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 40px;
		grid-row-gap: 56px;
	}
  &__text {
		position: relative;
		padding-bottom: 12px;
		margin: 0;
		font-size: 18px;
		&::before {
			@extend %title-underline;
			background-color: $color-primary;
		}
	}

  &__value {
		display: block;
		color: $color-primary;
		font-size: 60px;
		margin-bottom: 20px;
		@media (max-width: 900px) {
				font-size: 42px;
			}
	}
}

.roofing {
	padding-top: 190px;
	padding-bottom: 80px;
	@media (max-width: 1023px) {
		padding-top: 75px;
		padding-bottom: 0;
	}
	&__box {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		@media (max-width: 1023px) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
	&__content {
		max-width: 532px;
		@media (max-width: 1023px) {
			max-width: 100%;
			margin-bottom: 50px;
		}
	}
  &__title {}
  &__text {
	}
  &__list {
		@extend %list-reset;
		@extend %list-roofing;
	}

	&__form {
		max-width: 470px;
		margin-right: 107px;
		padding: 40px 80px;
		background-color: #fff;
		box-shadow: 0px 4px 12px rgba(5, 15, 101, 0.39), 0px 4px 4px rgba(5, 15, 101, 0.39);
		@media (max-width: 1124px) {
			margin-right: 0;
		}
		@media (max-width: 503px) {
			padding: 30px;
		}
	}

	&__title-form {
		text-align: center;
	}
}

.form {
  &__input-box {
			margin-bottom: 20px;
	}
  &__data {
		font-size: 18px;
		padding: 16px 20px;
		border: 1px solid #BABCCE;
		outline-color: $color-primary;
		width: 100%;
		&::placeholder {
			color: #BABCCE;
		}
	}
  &__agreement {
		font-size: 12px;
		line-height: 1.4;
		margin-bottom: 20px;
		& a {
			color: $color-primary;
		}

		& a:hover {
			text-decoration: underline;
		}
	}

	&__file {
		margin-bottom: 20px;
		background: transparent;
	}

  &__btn {
		width: 100%;
	}
}

.form__file-box {
	position: relative;
}

.label-file {
	font-size: 16px;
	color: $color-font-dark;
	margin-left: 25px;
	padding-bottom: 2px;
	border-bottom: 1px dashed;
	cursor: pointer;
	&:hover {
		border-color: $color-primary;
	}
}

.label-file::before {
	content: '';
	position: absolute;
	display: block;
	left: 0;
	top: 2px;
	width: 20px;
	height: 20px;
	background-image: url(../img/paperclip.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

.label-file--footer {
	color: $color-font-light;
}

.label-file--footer::before {
	background-image: url(../img/paperclip-white.svg);
}

.form__file {
	display: none;
}

.roofing-bg {
	background-image: url(../img/roofing-bg.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right 90px;
}

.services {
	padding-top: 100px;
	@media (max-width: 1023px) {
		padding-top: 75px;
	}
  &__list {
		@extend %list-reset;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 20px;
		grid-row-gap: 20px;
		@media (max-width: 900px) {
			grid-column-gap: 10px;
			grid-row-gap: 10px;
		}
		@media (max-width: 733px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
  &__item {
		position: relative;
		max-width: 420px;
		@media (max-width: 733px) {
			margin-bottom: 10px;
		}
	}
	
	&__item--1 { grid-area: 1 / 1 / 2 / 2; }
	&__item--2 { grid-area: 1 / 2 / 2 / 3; }
	&__item--3 { grid-area: 1 / 3 / 3 / 4; }
	&__item--4 { grid-area: 2 / 1 / 3 / 2; }
	&__item--5 { grid-area: 2 / 2 / 3 / 3; }
	&__item--6 { grid-area: 3 / 1 / 4 / 2; }
	&__item--7 { grid-area: 3 / 2 / 4 / 3; }
	&__item--8 { grid-area: 3 / 3 / 4 / 4; }
	&__item--9 { grid-area: 4 / 1 / 4 / 2; }
	&__item--10 { grid-area: 4 / 2 / 4 / 3; }
	&__item--11 { grid-area: 4 / 3 / 4 / 4; }
	&__item--12 { grid-area: 5 / 1 / 4 / 2; }
	&__item--13 { grid-area: 5 / 2 / 4 / 3; }
	&__item--14 { grid-area: 5 / 3 / 4 / 4; }
	&__item--12 { grid-area: 6 / 1 / 4 / 2; }
	&__item--13 { grid-area: 6 / 2 / 4 / 3; }
	&__item--14 { grid-area: 6 / 3 / 4 / 4; }
	&__item--12 { grid-area: 7 / 1 / 4 / 2; }
	&__item--13 { grid-area: 7 / 2 / 4 / 3; }
	&__item--14 { grid-area: 7 / 3 / 4 / 4; }

  &__img {
		& img {
			display: block;
		}
	}
  &__sub-title {
		position: absolute;
		width: 100%;
		bottom: 0;
		margin: 0;
		padding: 20px;
		font-weight: 500;
		color: #fff;
		background: linear-gradient(270deg, rgba(5, 15, 101, 0.08) -0.95%, #050F65 100%);
		font-size: 18px;
		@media (max-width: 1000px) {
			font-size: 16px;
		}
	}
}

.price {
	padding-top: 100px;
	@media(max-width: 1023px) {
		padding-top: 75px;
	}
}

.accordion {
	@extend %list-reset;
  width: 100%;
}
.accordion__item {
  background-color: #fff;
  margin-bottom: 20px;
	@media (max-width: 576px) {
		margin-bottom: 10px;
	}
}
.accordion__header {
	background: linear-gradient(270deg, #CFD4FD -0.95%, #9FA8FA 16.4%, #050F65 100%);
	color: #fff;
	margin: 0;
  padding: 20px 48px 20px 28px;
  min-height: 70px;
	font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
	@media (max-width: 1000px) {
		font-size: 20px;
	}

	@media (max-width: 576px) {
		font-size: 16px;
	}
}

.accordion__header::after {
  content: "";
	background-image: url(../img/arrow-accordion.svg);
	background-repeat: no-repeat;
	display: block;
	width: 24px;
	height: 24px;
  position: absolute;
  right: 28px;
	transition: transform .3s ease-out;
}
.accordion__header.active::after {
   transform: rotate(-180deg);
}
.accordion__body {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease-out;
}
.accordion__content {
	font-size: 20px;
}

.accordion__table {
	text-align: left;
	table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #B5B5B5;
}

.accordion__table thead th:nth-child(1) {
  width: 50%;
}

.accordion__table thead th:nth-child(2) {
  width: 35%;
}

.accordion__table thead th:nth-child(3) {
  width: 25%;
}

.accordion__table th, td {
	font-size: 20px;
	font-weight: 400;
  padding: 18px 20px;
  border: 1px solid #B5B5B5;
	@media (max-width: 767px) {
		font-size: 14px;
		padding: 12px;
	}
	@media (max-width: 420px) {
		font-size: 12px;
	}

	@media (max-width: 383px) {
		font-size: 11px;
	}
}

.consequences {
	position: relative;
	margin-top: 80px;
	margin-bottom: 100px;
	@media (max-width: 1023px) {
		margin-bottom: 50px;
	}
  &__img {
		& img {
			position: absolute;
			right: 0;
			top: 0;
			width: 54%;
			height: 100%;
			object-fit: cover;
			object-position: top left;
			pointer-events: none;
			@media (max-width: 933px) {
				position: relative;
				width: 100%;
				max-height: 250px;
				margin-bottom: 20px;
			}
		}
	}
  &__content {
    max-width: 482px;
		margin-right: 56%;
		@media (max-width: 933px) {
			max-width: 100%;
			margin-right: 0;
		}
	}
  &__title {}
  &__result {
		font-size: 24px;
		font-weight: 500;
	}
}

.why {
	padding: 100px 0;
	background-image: url(../img/why-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top left;
	@media (max-width: 1023px) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
  &__title {
		color: $color-primary;
		max-width: 772px;
		&::before {
			background-color: $color-primary;
		}
	}
  &__list {
		@extend %list-reset;
		color: $color-font-light;
	}
  &__item {
		padding: 20px;
		display: block;
		max-width: 664px;
		border: 1px solid #fff;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
  &__sub-title {
		max-width: 506px;
		margin-bottom: 12px;
	}
  &__descr {
		margin: 0;
		max-width: 624px;
	}
}

.portfolio {
	padding-top: 100px;
	padding-bottom: 100px;
	@media (max-width: 1023px) {
		padding-top: 75px;
		padding-bottom: 30px;
	}
	&__tabs {
		margin-bottom: 40px;
	}
  &__item {
		display: none;
		&.active {
			display: block;
		}
	}
	&__btn {
    font-size: 18px;
    margin-bottom: 10px;
		padding: 8px 20px;
		&:not(:last-child) {
   		margin-right: 20px;
		}
		&.active {
			background-color: $color-primary-active;
			cursor: auto;
		}
}
  &__slider {}
}
.swiper {
}
.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-img {
	position: relative;
  overflow: hidden;
  padding-bottom: 60%;
	margin-bottom: 20px;
}

.swiper-img img {
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
	top: 0;
	left: 0;
}

.swiper-button-next {
  background-image: url(../img/swiper-next.svg);
	width: 60px;
	height: 60px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 0;
    top: 130px;
}

.swiper-button-prev {
  background-image: url(../img/swiper-next.svg);
	transform: rotate(180deg);
	width: 60px;
	height: 60px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 0;
		top: 130px;
}

.swiper-content {
	& h3 {
		font-weight: 400;
	}
}
.spec-list {
	@extend %list-reset;
}

.form-wide {
	margin-top: 100px;
	margin-bottom: 100px;
	max-width: 1167px;
	margin-left: auto;
	background-color: #fff;
	padding: 40px 80px;
	background-color: #fff;
	box-shadow: 0px 4px 12px rgba(5, 15, 101, 0.39), 0px 4px 4px rgba(5, 15, 101, 0.39);
	@media (max-width: 1023px) {
		margin-top: 30px;
		margin-bottom: 30px;
		padding: 30px;
	}
	@media (max-width: 975px) {
		padding: 30px;
	}
		@media (max-width: 767px) {
		max-width: 767px;
	}
}

.form-wide__title {
	max-width: 429px;
	font-weight: 500;
}

.form-wide__box {
	display: flex;

	@media (max-width: 767px) {
		flex-direction: column;
	}
}

.form-wide__input-box {
	margin-right: 20px;
	width: 30%;
	@media (max-width: 767px) {
		margin-right: 0;
		width: 100%;
		margin-bottom: 20px;
	}
}

.form-wide__input-box input {
	width: 100%;
}

.form-wide__btn {
	width: 40%;
	@media (max-width: 767px) {
		width: 100%;
		margin-bottom: 20px;
	}
}

.form-wide__bottom {
	display: flex;
	flex-wrap: wrap;
	margin-top: 23px;
}

.form-wide__agreement {
	margin: 0;
	margin-left: 80px;
	@media (max-width: 1023px) {
		margin-left: 15px;
	}

	@media (max-width: 921px) {
		margin-left: 0;
	}
}

.form-wide__file {
	margin: 0;
}

.about {
	padding-top: 100px;
	@media (max-width: 1023px) {
			padding-top: 75px;
		}
  &__box {
		display: flex;
		@media (max-width: 767px) {
			display: block;
		}
	}
  &__img {
		position: relative;
		min-height: 300px;
		flex: 0 0 40%;
		& img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		@media (max-width: 767px) {
			position: relative;
			max-height: 300px;
			width: 100%;
			margin-bottom: 15px;
		}
		}
	}
  &__content {
		margin-left: 20px;
		margin-top: -20px;
    margin-bottom: -20px;
		@media (max-width: 767px) {
			margin: 0;
		}
	}
}

.reviews {
	padding: 100px 0;
	@media (max-width: 1023px) {
		padding-top: 75px;
		padding-bottom: 40px;
	}
  &__card {
		position: relative;
		padding-right: 35px;
		&::before {
			content: '';
			position: absolute;
			right: 20px;
			top: 0;
			background-image: url(../img/quotes-icon.svg);
			width: 60px;
			height: 48px;
		}
	}
  &__stars {
		background-image: url(../img/star-icon.svg);
		background-repeat: repeat-x;
		display: block;
		height: 28px;
		margin-bottom: 20px;
	}

	&__stars--5 {
		width: 160px;
	}

	&__stars--4 {
		width: 130px;
	}

  &__title {
		font-weight: 400;
	}
  &__text {}
  &__author {}
}

.reviews__btn-next {
	background-image: url(../img/review-next.svg);
	width: 22px;
}

.reviews__btn-prev {
	background-image: url(../img/review-next.svg);
	transform: rotate(180deg);
	width: 22px;
}

.contacts {
	position: relative;
	padding-top: 100px;
	margin-bottom: 150px;
	@media (max-width: 1023px) {
		margin-bottom: 75px;
	}
	@media (max-width: 940px) {
			padding-top: 45px;
		}
  &__img {
		& img {
		position: absolute;
		left: 0;
		top: 0;
		width: 54%;
		height: 100%;
		object-fit: cover;
		object-position: center right;
		pointer-events: none;
		@media (max-width: 940px) {
			position: relative;
			width: 100%;
			margin-bottom: 15px;
			max-height: 250px;
		}
		}
	}
	&__content {
		padding-bottom: 160px;
		max-width: 482px;
		margin-left: 56%;
		@media (min-width: 1820px) {
			margin-left: 60%;
		}
		@media (max-width: 940px) {
			margin-left: 0;
			padding-bottom: 0;
		}
	}
  &__title {}
  &__list {
		@extend %list-reset;
		& a:hover {
			color: $color-primary;
		}
	}
  &__item {}
}

.footer {
	background-color: #050F65;
	padding-top: 100px;
	color: $color-font-light;
	@media (max-width: 1023px) {
		padding-top: 75px;
	}
  &__box {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 100px;
		@media (max-width: 960px) {
			flex-direction: column;
			align-items: center;
		}

		@media (max-width: 1023px) {
			margin-bottom: 60px;
		}
	}
  &__left-col {}
  &__logo {
		display: inline-block;
		margin-bottom: 64px;
	}
	&__mid-col {}
  &__nav-list {
		@extend %list-reset;
		margin-left: 70px;
		@media (max-width: 960px) {
			margin-left: 0;
			margin-top: 20px;
			margin-bottom: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			max-width: 400px;
			font-size: 20px;
		}
		@media (max-width: 560px) {
			flex-direction: column;
			font-size: 24px;
			margin-top: 40px;
		}
	}
  &__nav-item {
			margin-bottom: 20px;
			@media (max-width: 960px) {
			margin-right: 20px;
		}

		@media (max-width: 560px) {
			margin-bottom: 30px;
		}
	}
  &__nav-link {
		transition: color .2s ease;
			&:hover {
				color: $color-primary-hover;
			}
	}
	&__right-col {
		margin-left: auto;
		@media (max-width: 960px) {
			margin-left: 0;
		}
	}
	&__form {
		max-width: 470px;
		padding: 0 80px 40px 80px;
		@media (max-width: 560px) {
			padding: 20px;
		}
	}
	&__bottom {
		padding: 20px 0 22px 0;
		border-top: 1px solid #BABCCE;
		color: #BABCCE;
		font-size: 12px;
		text-align: center;
	}
}
.social-list {
	display: flex;
	flex-wrap: wrap;
	@extend %list-reset;
  &__item {
		&:not(:last-child) {
			margin-right: 20px;
		}
	}
	@media (max-width: 960px) {
			justify-content: center;
		}
  &__link {
		& img {
			width: 40px;
		}
	}
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.burger {
  position: relative;
  width: 30px;
  height: 20px;
  display: none;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in-out;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger--active .burger__line {
  opacity: 0;
}

.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
}

.burger--active::after {
  bottom: auto;
  top: 50%;
  transform: rotate(-45deg);
}

.stop-scroll {
  overflow: hidden;
}

@media (max-width: 1024px) {
  .burger {
    display: block;
  }

  .nav {
    --header-height: 93px;
    position: fixed;
    right: 0;
    top: var(--header-height);
    z-index: 1000;
    overflow-y: auto;
    padding: 30px 0;
    width: 60%;
    max-width: 300px;
    height: calc(100vh - var(--header-height));
    background-color: rgba(255, 255, 255, 0.9);
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
  }

  .nav--visible {
    transform: none;
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__item {
    width: 100%;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
  }

  .nav__link {
    display: inline-block;
    width: 100%;
    padding: 15px 20px;
    border-bottom: 1px solid #e4e4e4;
    font-size: 20px;
		color: #0B0E2E;
  }
}

a.active {
	padding-bottom: 6px;
	border-bottom: 2px solid #fff;
}